
<html lang="en">
  <head>
    <title>API Demo</title>
    <script src="http://localhost:3001/javascripts/lib/jquery-2.1.4.js"></script>
    <script src="http://localhost:3001/javascripts/lib/underscore-min.js"></script>
    <script src="http://localhost:3001/javascripts/lib/moment.js"></script>
    <script src="//localhost:35729/livereload.js"></script>
    <link href="http://localhost:3001/stylesheets/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://localhost:3001/stylesheets/style.css" rel="stylesheet"/>
  </head>
  <body style="padding:1em">
    <h4>Unravel Demo</h4>
    <hr/>
    <div class="row">
      <div class="col-xs-4">
        <button id="test1" class="btn btn-success">Interaction 1</button>
      </div>
      <div class="col-xs-1"></div>
      <div class="col-xs-4"><img id="effect1" src="http://localhost:3001/img/unravel128.png"/></div>
    </div>
    <div class="row">
      <hr/>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="row">
          <div class="col-xs-12">
            <button id="test2" class="btn btn-primary">Interaction 2</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12"><br/>
            <div id="effect2" style="background-color:#dbdbdb; min-height: 1em;" class="container"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <button id="test4" class="btn btn-success">Interaction 4</button>
      </div>
      <div class="col-xs-1"></div>
      <div class="col-xs-4"><img id="effect4" src="http://localhost:3001/img/unravel128.png"/></div>
    </div>
    <div style="display:none;" class="row">
      <div class="col-xs-4"><a id="test3">Error</a></div>
    </div>
    <script src="/javascripts/home.js"></script>
  </body>
</html>