
<html lang="en">
  <head>
    <title>API Demo</title>
    <script src="/javascripts/lib/LAB.js"></script>
    <script type="text/javascript">
      $LAB
       .script("/javascripts/lib/jquery-2.1.4.js").wait()
       .script("/javascripts/lib/underscore-min.js").wait()
       .script("/javascripts/lib/moment.js").wait()
      
    </script>
    <!--script(src='/javascripts/lib/jquery-2.1.4.js')-->
    <!--script(src='/javascripts/lib/underscore-min.js')-->
    <!--script(src='/javascripts/lib/moment.js')-->
    
    <!--script(src='//localhost:35729/livereload.js')-->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet"/>
    <link href="/stylesheets/style.css" rel="stylesheet"/>
  </head>
  <body style="padding:1em">
    <h4>Unravel Demo</h4>
    <hr/>
    <div class="row">
      <div class="col-xs-4">
        <button id="test1" class="btn btn-success">Show/Hide the Circle</button>
      </div>
      <div class="col-xs-1"></div>
      <div class="col-xs-4"><img id="effect1" src="/img/unravel128.png"/></div>
    </div>
    <div class="row">
      <hr/>
    </div>
    <script type="text/javascript">
      var bazz = function(){
        var i = 0;
        i++;
        bar();
        return i;
      };
    </script>
    <div class="row">
      <div class="col-xs-4">
        <div class="row">
          <div class="col-xs-12">
            <button id="test2" class="btn btn-primary">Print a TimeStamp</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12"><br/>
            <div id="effect2" style="background-color:#dbdbdb; min-height: 1em;" class="container"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <hr/>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <button id="test3" class="btn btn-warning">Fly the Ship</button>
      </div>
      <div class="col-xs-1"></div>
      <div class="col-xs-4"><img id="effect3" src="/img/ship.jpg" height="200px" style="display:none;"/></div>
    </div>
    <div class="row">
      <!--.col-xs-4-->
      <!--  button.btn.btn-warning(id="test3") Fly the Ship-->
      <!--.col-xs-1-->
      <!--.col-xs-4-->
      <!--  img(id="effect3", src="/img/ship.jpg", height="200px", style="display:none;")-->
    </div>
  </body>
  <!--script(src='/javascripts/home.js')-->
  <script type="text/javascript">
    $LAB
      .script("/javascripts/home.js").wait()
  </script>
</html>