html(lang='en')
  head
    title API Demo
    script(src='/javascripts/lib/jquery-2.1.4.js')
    script(src='/javascripts/lib/underscore-min.js')
    script(src='/javascripts/lib/moment.js')
    //script(src='//localhost:35729/livereload.js')
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
  body(style="padding:1em")
    h4 Unravel Demo
    hr
    .row
      .col-xs-4
        button.btn.btn-success(id="test1") Show/Hide the Circle
      .col-xs-1
      .col-xs-4
        img(id="effect1", src="/img/unravel128.png")
    .row
      hr
    .row
      .col-xs-4
        .row
          .col-xs-12
            button.btn.btn-primary(id="test2") Print a TimeStamp
        .row
          .col-xs-12
            br
            .container(id="effect2", style="background-color:#dbdbdb; min-height: 1em;")
    .row
      hr
    .row
      .col-xs-4
        button.btn.btn-warning(id="test3") Fly the Ship
      .col-xs-1
      .col-xs-4
        img(id="effect3", src="/img/ship.jpg", height="200px", style="display:none;")

  script(src='/javascripts/home.js')