 #acsux-hsb-wrap,  #acsux-hsb-wrap div,  #acsux-hsb-wrap ul,  #acsux-hsb-wrap li,  #acsux-hsb-wrap img  {
     margin:  0 auto;
     padding:  0;
     border:  0;
     font-size:  100%;
     font:  inherit;
     vertical-align:  baseline;
     line-height:  1;
 }
 #acsux-hsb-wrap  {
     width: 100%;
     height: 360px;
     margin: 0 auto 24px;
     position:  relative;
     overflow:  hidden;
 }
 #acsux-hsb-container  {
     width: 100%;
     height: 360px;
     margin: 0 auto;
     position:  relative;
     text-align:  center;
 }
 #acsux-menu-wrap  {
     width: 100%;
     height: 360px;
     position:  absolute;
     top: 0;
     left: 0;
     z-index: 25;
     text-align:  center;
  }
 #ascux-menu-container  {
     width: 770px;
     height: 360px;
     position:  relative;
     margin: 0 auto;
 }
 #acsux-hsb-wrap #acsux-menu  {
     position: absolute;
     top: 10px;
     left: 50%;
     width: 215px;
     list-style:  none;
     cursor:  pointer;
     display: block;
     text-align:  left;
     padding-top:  1px;
     margin:  0;
     margin-left:  155px;
     z-index:  50;
 }
 #acsux-menu li  {
     width: 215px;
     background: #fff;
     margin:  0;
     border-style:  solid;
     border-width:  0 1px 1px 1px;
     border-color:  #b7b7b7 #aaaaaa #a0a0a0;
     -webkit-box-shadow:  0 1px 0 rgba(255,  255,  255,  0.6) inset;
     -moz-box-shadow:  0 1px 0 rgba(255,  255,  255,  0.6) inset;
     box-shadow:  0 1px 0 rgba(255,  255,  255,  0.6) inset;
     background:  #ececec;
     background:  -moz-linear-gradient(top,  whitesmoke,  #e3e3e3);
     background:  -webkit-gradient(linear,  left top,  left bottom,  color-stop(0%,  whitesmoke),  color-stop(100%,  #e3e3e3));
     background:  -webkit-linear-gradient(top,  whitesmoke,  #e3e3e3);
     background:  -o-linear-gradient(top,  whitesmoke,  #e3e3e3);
     background:  -ms-linear-gradient(top,  whitesmoke,  #e3e3e3);
     background:  linear-gradient(top,  whitesmoke,  #e3e3e3);
     filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='whitesmoke',  endColorstr='#e3e3e3', GradientType=0);
     position:  relative;
     text-align:  left;
     display:  block;
     float:  left;
 }
 #acsux-menu li:first-child  {
     -webkit-border-radius:  3px 3px 0 0;
     -moz-border-radius:  3px 3px 0 0;
     border-radius:  3px 3px 0 0;
    ;
     border-width:  1px 1px 1px 1px;
 }
 #acsux-menu li:last-child  {
     -webkit-border-radius:  0 0 3px 3px;
     -moz-border-radius:  0 0 3px 3px;
     border-radius:  0 0 3px 3px;
 }
 #acsux-menu .acsux-active  {
     background: #fff;
     filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',  endColorstr='#ffffff', GradientType=0);
 }
 #acsux-menu .acsux-active .acsux-inner-menu a  {
     color: #333;
 }
 #acsux-menu .acsux-inner-menu a  {
     text-decoration:  none;
     color: #000;
     font-family:  Arial,  sans-serif;
     font-weight:  bold;
     font-size:  13px;
     color:  #666;
     line-height:  1.15;
 }
 #acsux-menu .acsux-inner-menu a:hover  {
    text-decoration:  underline;
}
 #acsux-menu .acsux-inner-menu img  {
     position:  relative;
     margin-bottom: 10px;
     float:  left;
     margin-left:  10px;
     margin-top:  10px;
     border:  1px solid #fff;
 }
 #acsux-menu .acsux-inner-menu div  {
     width: 150px;
     position:  relative;
     margin-left:  60px;
     padding-top:  10px;
 }
 #acsux-menu .acsux-inner-menu span  {
     display:  block;
     color:  #666;
     font-family:  arial,  sans-serif;
     font-size:  11px;
     margin:  3px 0;
     line-height:  1.15;
     display:  block;
     padding-bottom:  10px;
 }
 #acsux-hero-wrap  {
     position:  relative;
     top: 0;
     left: 0;
 }
 #acsux-hero  {
     position:  relative;
     top: 0;
     list-style:  none;
     display: block;
 }
 #acsux-hero li  {
     display:  block;
     display:  inline-block;
     height: 360px;
     width: 100%;
     text-align:  center;
     float:  left;
 }
 #acsux-hero a  {
     display:  block;
     width:  770px;
     height:  360px;
     margin:  0 auto;
 }
 #acsux-hero li span  {
     display:  none;
     visibility:  none;
 }