<div class="row">
  <div class="col-xs-3">
    <h4>Dom Change Events <span id="tagTitle"></span></h4>
  </div>
  <div class="col-xs-1" style="margin-top:.6em">
    <button id="clear" type="button" class="btn btn-default btn-xs" aria-label="Left Align">
      Reset
    </button>
  </div>
  <div class="col-xs-1" style="margin-top:.6em">
    <button id="reduce" type="button" class="btn btn-default btn-xs" aria-label="Left Align">
      Reduce
    </button>
  </div>
  <div class="col-xs-3">
  </div>
</div>

<table class="display" cellspacing="0">
  <thead>
  <tr>
    <th>Node Selector</th>
    <th>Name</th>
    <th>Old Value</th>
    <th>Type</th>
    <!--<th>Target</th>-->
    <!--<th>Previous Sibling</th>-->
    <!--<th>Next Sibling</th>-->
  </tr>
  </thead>
  <tbody id="mutationWrapper"></tbody>
</table>