<div class="row">
  <div class="col-md-6">
    <h4>Dom Change Events <span id="tagTitle"></span></h4>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-5">
    <button id="clear">Clear</button>
  </div>
</div>


<table class="table table-striped table-hover table-condensed">
  <thead>
  <tr>
    <th>Node Selector</th>
    <th>Name</th>
    <th>Old Value</th>
    <th>Type</th>
    <!--<th>Target</th>-->
    <!--<th>Previous Sibling</th>-->
    <!--<th>Next Sibling</th>-->
  </tr>
  </thead>
  <tbody id="mutationWrapper"></tbody>
</table>