
<html>
  <body>
    <div class="row">
      <div style="margin-top:.6em" class="col-xs-1">
        <button id="start" type="button" aria-label="Left Align" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-record"> </i> Record</button>
      </div>
      <div style="margin-top:.6em" class="col-xs-1">
        <button id="stop" type="button" aria-label="Left Align" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-stop"> </i> Stop</button>
      </div>
      <div style="margin-top:.6em" class="col-xs-1">
        <button id="clear" type="button" aria-label="Left Align" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-erase"> </i> Reset</button>
      </div>
      <div style="margin-top:.6em" class="col-xs-1">
        <button id="reduce" type="button" aria-label="Left Align" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-flash"> </i> Reduce</button>
      </div>
      <div style="margin-top:.6em" class="col-xs-1">
        <button id="detect" type="button" aria-label="Left Align" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-equalizer"> </i> Detect Libraries</button>
      </div>
      <div class="col-xs-2"></div>
    </div>
    <div class="row">
      <div id="libResults" style="display: none;" class="col-xs-12">
        <h4>Libraries Detected</h4>
        <ul id="libResults"></ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12"><span id="tagTitle" style="margin-left: .5em;"></span></div>
    </div>
    <div class="row no-left">
      <div class="col-xs-12">
        <table cellspacing="0" class="display">
          <thead>
            <tr>
              <th>DOM Path</th>
              <th>Selector</th>
              <th>Name</th>
              <th>Old Value</th>
              <th>Type</th>
              <!-- <th>Target</th>-->
              <!-- <th>Previous Sibling</th>-->
              <!-- <th>Next Sibling</th>-->
            </tr>
          </thead>
          <tbody id="mutationWrapper"></tbody>
        </table>
      </div>
    </div>
  </body>
</html>