html, body {
  height: 100%;
  background-color: white;
  color: #424242;
}

table {
  height: 300px;
}

a, a#selectedElement {
  color: #2183d5;
}

h4 {
  margin-left: 4px;
}

/*.panel-body {*/
  /*max-height: 20em;*/
  /*overflow: scroll;*/
/*}*/

.checkbox {
  margin-top: 0px;
  margin-bottom: 0px;
}

.dataTables_length {
  margin-left: .5em;
}

.dataTables_filter {
  margin-right: .5em;
}

#record .active .glyphicon-record {
  background-color: #ff4f52;
  border-radius: 6px;
}

.inlay {
  max-height: 5em;
  overflow: scroll;
  box-shadow: inset 1px 1px 5px #999;
  padding-left: 1em;
  border-radius: 3px;
}

.dataTables_info {
  display: none;
}

#libResults ul li {
  list-style: none;
  float: left;
  display: inline-block;
  margin-right: 2em;
}

#libResults ul {
  margin-bottom: 0;
  padding-left:4px;
}